<div class="row justify-content-center">
  <div class="col col-md-10">
    <h1 class="fs-4 mt-4 mt-lg-12 fw-bold text-center text-lg-start mb-9 mb-lg-7">註冊帳號</h1>
    <form>
      <div class="mb-3">
        <label for="signUpEmail" class="form-label">Email</label>
        <input type="email" class="signUpInput form-control py-14" id="signUpEmail" placeholder="請輸入Email" aria-describedby="emailHelp">
        <div id="emailHelp" class="text-warning fs-7 mt-1 invalid-feedback">請輸入正確Email</div>
      </div>
      <div class="mb-3">
        <label for="signUpNickname" class="form-label">暱稱</label>
        <input type="email" class="signUpInput form-control py-14" id="signUpNickname" placeholder="請輸入暱稱" aria-describedby="nickHelp">
        <div id="nickHelp" class="text-warning fs-7 mt-1 invalid-feedback">請輸入暱稱</div>
      </div>
      <div class="mb-3">
        <label for="signUpPassword" class="form-label">Password</label>
        <input type="password" class="signUpInput form-control py-14" id="signUpPassword" placeholder="請輸入密碼" aria-describedby="Password1Help">
        <div id="Password1Help" class="text-warning fs-7 mt-1 invalid-feedback">請設定6碼以上</div>
      </div>
      <div class="mb-3">
        <label for="Password2" class="form-label">請再次輸入密碼</label>
        <input type="password" class="signUpInput form-control py-14" id="Password2" placeholder="請再次輸入密碼" aria-describedby="Password2Help">
        <div id="Password2Help" class="text-warning fs-7 mt-1 invalid-feedback">密碼不一致</div>
      </div>
    </form>
      <div class="d-flex flex-column justify-content-center">
        <button type="submit" class="signup_btn btn btn-dark py-14 mx-auto px-12 mb-7 mt-7">註冊帳號</button>
        <a href="./index.html" class="text-dark text-center mb-16 mb-lg-15">登入</a>
        <span class="text-danger" class="signup_status_txt"></span>
      </div>
  </div>
</div>