//背景設定 
.addTodos
{
  background: $primary;
  @include media-breakpoint-up(lg) {
    background: linear-gradient(174deg, #ffd370 2%, #ffd370 46%, #fff 46%, #fff 100%, #e8e8e8 100%);
    min-height: 100vh;
    background-repeat: no-repeat;
  }
}
//有設定代辦事項的內容設定
.card_list {
  margin-bottom: 8px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.15); 
}

.tab{
  color: $gray;
  text-align: center;
  justify-content: space-around;
  font-size: 14px;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
  li{
    padding: 16px;
    @include media-breakpoint-up(lg) {
      padding: 20px;
    }
    width: 100%;
    border-bottom: 2px solid $color_gray;
    &.active{
      border-bottom: 2px solid $secondary;
      color: $secondary;
    }
  }
}

.card_content{
  padding: 12px 20px 12px 12px;
  @include media-breakpoint-up(lg) {
    padding: 12px 24px 24px 24px;
  }
}

//代辦事項內容
.list li{
  position: relative;
  padding-right: 0;
  @include media-breakpoint-up(lg) {
    padding-right: 32px;
  }
}

//delete 樣式設定
.list li a.delete{
  position: absolute;
  opacity: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);  //垂直置中對齊用
  //text-decoration: none;  //超連結的底線去除
  //color: $secondary;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url('https://i.imgur.com/7Q4RjFx.jpg');
  background-size: contain; //使背景圖在尺寸大於內容元素的情況下，得以完整呈現
  @include media-breakpoint-up(lg) {
    opacity: 1;
    width: 16px;
    height: 16px;
  }
}

.checkbox {
  position: relative;
  user-select: none; //禁止用戶選中
  width: 100%;
  display: block;
  padding-left: 44px;
  cursor: pointer;

  span {
    display: block;
    padding: 16px 0;
    border-bottom: 1px solid #eee;
    line-height: 1.5;

    @include media-breakpoint-up(lg) {
      padding-right: 0;
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  // li 核取方框的設定位置
  span::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%) scale(1);
    height: 20px;
    width: 20px;
    border-radius: 5px;
    border: 1px solid $secondary;
    pointer-events: none;
    transition: 0.3s ease;
  }
  //用 css 2D 做出打勾的動態圖案
  span::after{
    content: '';
    position: absolute;
    left: 14px;
    top: 35%;  //黃色勾勾的位置
    transform: rotate(45deg);
    height: 15px;
    width: 8px;
    border-radius: 1px;
    border-bottom: 3px solid $primary;
    border-right: 3px solid $primary;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease;
  }
}

.checkbox input:checked ~ span{
  color: $gray;
  text-decoration: line-through;
}

// 在還沒checked之前，打勾圖案呈現透明，checked之後會呈現出來
.checkbox input:checked ~ span::before{
  border-color: transparent; //透明
  transform: translateY(-50%) scale(0);
}

.checkbox input:checked ~ span::after{
  opacity: 1;
}

.list_footer a{
  color: $gray;
  &:hover{
    color: black;
  }
}
.list_footer{
  text-decoration: none;
  padding: 24px 0px 16px 8px;
  &:hover{
    color: $secondary;
  }
}

