//背景設定 
.addTodos
{
  background: $primary;
  @include media-breakpoint-up(lg) {
    background: linear-gradient(174deg, #ffd370 2%, #ffd370 46%, #fff 46%, #fff 100%, #e8e8e8 100%);
    min-height: 100vh;
    background-repeat: no-repeat;
  }
}
//有設定代辦事項的內容設定
.card_list {
  margin-bottom: 8px;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.15); 
}

.tab{
  color: $gray;
  text-align: center;
  justify-content: space-around;
  font-size: 14px;
  @include media-breakpoint-up(lg) {
    font-size: 16px;
  }
  li{
    padding: 16px;
    @include media-breakpoint-up(lg) {
      padding: 20px;
    }
    width: 100%;
    border-bottom: 2px solid $color_gray;
    &.active{
      border-bottom: 2px solid $secondary;
      color: $secondary;
    }
  }
}

.card_content{
  padding: 12px 20px 12px 12px;
  @include media-breakpoint-up(lg) {
    padding: 12px 24px 24px 24px;
  }
}

//代辦事項內容
.list li{
  position: relative;
  padding-right: 0;
  @include media-breakpoint-up(lg) {
    padding-right: 32px;
  }
}

//delete 樣式設定
.list li a.delete{
  position: absolute;
  opacity: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);  //垂直置中對齊用
  //text-decoration: none;  //超連結的底線去除
  //color: $secondary;
  display: block;
  width: 12px;
  height: 12px;
  background-image: url('https://i.imgur.com/7Q4RjFx.jpg');
  background-size: contain; //使背景圖在尺寸大於內容元素的情況下，得以完整呈現
  @include media-breakpoint-up(lg) {
    opacity: 1;
    width: 16px;
    height: 16px;
  }
}

